@model CyberCafe.Models.ViewModels.AdminPasswordViewModel
@{
    ViewBag.Title = "Admin Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CHANGE PASSWORD</h2>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        @using (Html.BeginForm("Password", "Admin", FormMethod.Post,new { id="mForm"}))
        {
            <div>@Html.ValidationMessage("error", new { @class = "text-danger alert-danger" })</div>
            <div>@Html.ValidationMessage("success",new {@class="text-success alert-success" })</div>

            @Html.LabelFor(d => d.CurrentPassword)
            @Html.PasswordFor(d => d.CurrentPassword, new { id = "currentPassword", @class = "form-control" })
            <small class="text-danger" id="currentWarning">Current Password is Incorrect</small>
            <div>@Html.ValidationMessage("CurrentPassword", new { @class = "text-danger" })</div>

            @Html.LabelFor(d => d.NewPassword)
            @Html.PasswordFor(d => d.NewPassword, new { id = "newPassword", @class = "form-control" })
            <div>@Html.ValidationMessage("NewPassword", new { @class = "text-danger" })</div>


            @Html.LabelFor(d => d.ConfirmPassword)
            @Html.PasswordFor(d => d.ConfirmPassword, new { id = "confirmPassword", @class = "form-control" })
            <div>@Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })</div>

            <input type="submit" class="btn btn-primary col-12" />
        }
    </div>
</div>
@section scripts{
    <script>
        const currentPassword = document.getElementById("currentPassword");
        const newPassword = document.getElementById("newPassword");
        const confirmPassword = document.getElementById("confirmPassword");
        const currentWarning = document.getElementById("currentWarning");
        const mForm = document.getElementById("mForm");
        const alertSuccess = document.getElementsByClassName("alert-success")[0];
        setTimeout(() => { alertSuccess.style.display = 'none' }, 1500);
        currentWarning.style.display = 'none';
        currentPassword.addEventListener("change", (e) => {
            $.get("@Url.Content("~/Admin/CheckPassword?mPassword=")" + currentPassword.value, (data) => {
                if (data == "True") {
                    currentWarning.style.display = 'none';
                } else {
                    currentWarning.style.display = 'block';
                }
            })
        });

        mForm.addEventListener("submit", (event) => {
            if (currentWarning.style.display == 'block') { event.preventDefault(); alert('Current password Incorrect'); }
        })


    </script>
}
