<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CCMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CCMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item sidebar-navbar-item">
                        <a href="@Url.Action("Index", "Dashboard")" class="nav-link" aria-current="page">
                            <i class="fa-solid fa-gauge"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item dropdown sidebar-navbar-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-computer"></i>
                            Computer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Add","Computer")">Add Computer</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index","Computer")">Manage Computers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown sidebar-navbar-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-users"></i>
                            Users
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Add","User")">Add User</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index","User")">Manage Users</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Archive","User")">Manage Old Users</a></li>
                        </ul>
                    </li>
                    <li class="nav-item sidebar-navbar-item">
                        <a href="@Url.Action("Index","Search")" class="nav-link">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Search
                        </a>
                    </li>
                    <li class="nav-item dropdown sidebar-navbar-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-book"></i>
                            Report
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Report")">Between Dates Report</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user-astronaut fa-2x"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Admin")">My Profile</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Password","Admin")">Change Password</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Logout","Admin")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-brand">@Html.ActionLink("CCMS | Admin", "Index", "Dashboard")</div>
        <hr />
        <ul class="sidebar-items">
            <a style="text-decoration:none;" href="@Url.Action("Index", "Dashboard")">
            <li class="sidebar-item">
                <i class="fa-solid fa-gauge"></i>
                Dashboard
            </li>
            </a>
            
            <li class="sidebar-item">
                <a style="text-decoration:none;" class="sidebar-dropdown-btn">
                    <i class="fa-solid fa-computer"></i>
                    Computer
                </a>
                <ul class="sidebar-dropdown-list">
                    <li>
                        <a href="@Url.Action("Add","Computer")">Add Computer</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Computer")">Manage Computers</a>
                    </li>
                </ul>

            </li>
            
            
            <li class="sidebar-item">
                <a class="sidebar-dropdown-btn">
                    <i class="fa-solid fa-users"></i>
                    Users
                </a>
                <ul class="sidebar-dropdown-list">
                    <li>
                        <a href="@Url.Action("Add","User")">Add User</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","User")">Manage Users</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Archive","User")">View Old Users</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="@Url.Action("Index","Search")">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Search
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-dropdown-btn">
                    <i class="fa-solid fa-book"></i>
                    Report
                </a>
                <ul class="sidebar-dropdown-list">
                    <li>
                        <a href="@Url.Action("Index","Report")">Between Dates Report</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CCMS ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function CloseOtherDropdowns(currentDropdown) {
            var mDropdownBtn = document.getElementsByClassName('sidebar-dropdown-btn');
            for (k = 0; k < mDropdownBtn.length; k++) {
                if (mDropdownBtn[k] === currentDropdown) {
                } else {
                    mDropdownBtn[k].parentElement.classList.remove("sidebar-item-active");
                    var dropdownContent = mDropdownBtn[k].nextElementSibling;
                    dropdownContent.style.display = "none";
                }
            }
        }
        var dropdownBtn = document.getElementsByClassName('sidebar-dropdown-btn');
        var k;
        for (k = 0; k < dropdownBtn.length; k++) {
            dropdownBtn[k].addEventListener("click", function () {
                CloseOtherDropdowns(this);
                this.parentElement.classList.toggle("sidebar-item-active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            })
        }
    </script>
</body>
</html>
